name: CI/CD Pipeline Pagos

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      # Damos permisos de ejecución al wrapper de Maven
      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build and run tests with Maven
        run: ./mvnw clean verify

      - name: Check Status
        run: echo "Tests finalizados con éxito"